# logs / tmp
log/
tmp/
*.log

# env / secrets
.env
.env.*
config/master.key
config/credentials*.yml.enc

# node
node_modules/
yarn-error.log
npm-debug.log*
.pnpm-debug.log*

# builds
public/packs*
public/vite*
coverage/

# OS/IDE
.DS_Store
.idea/
.vscode/

# --- secrets / instance configs (DO NOT COMMIT) ---
stacklab/service-account-kanban-firebase.json
config/installation_config.yml
